.button {
    background-color: var(--one-color-logo);
    border-style: hidden;
    border-radius: 4px;
  }
  .button__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 00.06em;
    color: var(--color-text);
  }
  .head__button {
    padding: 10px 41px 10px 42px;
  }
  .form-newsletter__button {
    width: 200px;
    height: 50px;
    padding: 10px 13px 10px 42px;
    display: flex;
  }
  .form-newsletter__button__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 24px;
  }
  .modal__button {
    padding: 10px 76px;
    width: 200px;
    height: 50px;
  }