.adress {
    margin-top: 20px;
  }
  .adress__item {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .adress__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 00.03em;
    color: #ffffff99;
  }
  .adress__link__place {
    color: var(--color-text);
  }
  